doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Baltic

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Baltic

      section
        h2 Continuous Deployment
        h3 Powered by <a href="https://www.codeship.io">Codeship</a>

      section
        h2 Push To Master
        h3 Changes are then deployed to GitHub Pages

      section
        h2 How?
        h3 <a href="https://github.com/markdalgleish/baltic">View the source</a>

    script(src='build/build.js')
